.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header img {
  margin: 32px;
  width: 200px;
}

.backrooms-description {
  text-align: center;
  width: 70%;
}
